<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout.html" />
  <head>
    <title>${ _('Mail') }</title>
  </head>

  <body>
    <h1>${ c.domain + ' ' + _('domain') }</h1>
    <div id="user_search">
      <form class="user_search" name="sortby" id="sortby">
        <fieldset>
          <legend>${ _("Search / Select") }</legend>
        <nobr>
          <!--! Our default selected radio button -->
          <input type="radio" name="letter" id="None" value="None" checked="checked"/>
          <label for="None">None</label>
        <!--! Generate our All, 0-9, A-Z radio buttons -->
        <py:for each="l in c.form_letters">
          <input type="radio" name="letter" id="letter_${l}" value="${l}"/>
          <label for="letter_${l}">${l}</label>
        </py:for>
        </nobr>&nbsp;
        <nobr>
          <select name="sort_by" id="sort_by">
            <option value="ispmanUserId">${ _("User ID") }</option>
            <option value="mailLocalAddress">${ _("Email Address") }</option>
            <option value="givenName">${ _("First Name") }</option>
            <option value="sn">${ _("Last Name") }</option>
            <option value="ispmanCreateTimestamp">${ _("Date Created") }</option>
            <option value="mailQuota">${ _("Email Quota") }</option>
            <option value="FTPQuotaMBytes">${ _("FTP Quota") }</option>
            <option value="FTPStatus">${ _("FTP Status") }</option>
          </select>&nbsp;
          <select name="sort_how" id="sort_how">
            <option value="1">Ascending</option>
            <option value="0">Descending</option>
          </select>
        </nobr>
        </fieldset>
      </form>
    </div>
    ${ h.observe_form(
    'sortby',
    frequency=1,
    url=h.url_for(action='userlist'),
    update="UsersList",
    loading=h.update_element_function(
                "spinner",
                content = h.image_tag('/images/loading.gif')),
    loaded=h.update_element_function("spinner", content = ''),
    complete=h.visual_effect('Blind_down', 'UsersList'),
    with="Form.serialize($('sortby'))"
    ) }
    <div id="UsersList" style="display:none"></div>
    <div id="errors"></div>
  </body>

</html>
<!--!
$Id: index.html 31 2006-11-04 02:23:12Z s0undt3ch $
vim: sw=2 ts=2 fenc=utf-8 ft=kid et
-->

