<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <label for="mailAlias-${n}">&nbsp;</label>
  <input 
    id="mailAlias-${n}" name="mailAlias-${n}" value="${aliases[n]}" class="email"/>
  <span class="error-message" py:if="'mailAlias-%i' % n in c.form_errors">
    ${ c.form_errors['mailAlias-%i' % n]}
  </span><br/>
</html>
<!--!
$Id: alias.html 21 2006-10-25 02:59:26Z s0undt3ch $
vim: sw=2 ts=2 fenc=utf-8 et
-->

