<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:form="http://formencode/htmlfill">
  <xi:include href="../layout.html" />
  <head>
    <title>${ h._("Change Domain Password") }</title>
  </head>

  <body>
    <h1>${ c.dominfo['cn'] + ' ' + h._('domain') }</h1>
    <form class="user_input" name="changepass" id="changepass" method="post">
      <fieldset>
        <legend>${ h._("Change Domain Password") }</legend>
        <label for="cur_pass">${ h._("Current Password:") }</label>
        <input type="password" name="cur_pass" id="cur_pass"/>
        <span class="error-message" py:if="'cur_pass' in c.form_errors">
          ${ c.form_errors['cur_pass'] }
        </span><br/><br/>
        <label for="new_pass">${ h._("New Password:") }</label>
        <input type="password" name="new_pass" id="new_pass"/>
        <span class="error-message" py:if="'new_pass' in c.form_errors">
          ${ c.form_errors['new_pass'] }
        </span><br/>
        <label for="chk_pass">${ h._("Confirm Password:") }</label>
        <input type="password" name="chk_pass" id="chk_pass"/>
        <span class="error-message" py:if="'chk_pass' in c.form_errors">
          ${ c.form_errors['chk_pass'] }
        </span><br/>
        <input type="hidden" name="domain" value="${ c.dominfo['ispmanDomain'] }"/>
        <button type="submit" id="submit" name="submit">${ h._("Change Password") }</button>
        <button type="reset">${ h._("Reset Fields") }</button>
      </fieldset>
    </form>
  </body>
</html>
<!--!
$Id: changepass.html 22 2006-10-25 03:00:31Z s0undt3ch $
vim: sw=2 ts=2 fenc=utf-8 et
-->

