/*
 * vim: sw=4 ts=4 fenc=utf-8 et
 * $Id: main.css 63 2006-11-16 21:28:08Z s0undt3ch $
*/

h1 { font-size: 130%; text-align: center; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }
fieldset {
    border:1px solid #3363a3;
    padding: 3px 10px 15px 10px;
    margin: 5px 5px 0px 5px;
}
legend {
    padding: 0px 8px 0px 8px;
    margin: 5px 0px 4px 10px;
    font-size: 105%;
    color: #003885;
}
button { float: right; display: block; margin: 0px 0px -5px 10px; padding: 2px; }

#header {
    padding-left: 450px;
    background-image: url(../images/logo.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-color: #003885;
    height: 130px;
    color: white;
    text-align: right;
    position: relative;
}

#warning { border-bottom: 1px solid #808080; background-color: #FFFFE1; }
#warning span { padding: 1px 1px 1px 30px; margin: 0px; font-family: Tahoma, sans-serif; font-size: 13px; }
#warning div {
    border-bottom: 1px solid #404040;
    background-image: url(../images/warning.gif);
    background-repeat: no-repeat;
    margin-left: 3px;
}

#spinner { float: right; position: absolute; right: 5px; top: 5px; z-index: 333; }
#contents { margin: 2px; padding: 0px 10px 10px 10px; }

/* Forms with user input */
.user_input label, .user_input input, .user_input span {
    display: block; float: left; margin-bottom: 5px; margin-top: 5px;
}
.user_input label {
    text-align: right; width: 185px; padding-right: 15px; font-weight: bold; cursor: text; }
.user_input br { clear: left; }

/* Error Message shown on forms with invalid fields */
.error-message {
    margin-left: 10px;
    color: red;
    background-color: #ffffe1;
    padding: 2px 2px 2px 25px;
    font-weight: bold;
    font-size: 90%;
    background-image: url(../images/warning.gif);
    background-repeat: no-repeat;
}

.sys-message {
    position: absolute;
    top: 25px;
    right: 50px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Main Navigation */
#mainnav { bottom:0; right:10px; position: absolute; font-size: 80%; letter-spacing: 1px; color: #fff; }
#mainnav a { float: left; display: block; text-decoration: none; }
#mainnav ul { list-style-type: none; }
#mainnav li {
    float: left;
    display: block;
    margin: 0 0 0 5px;
    padding: 5px 15px 0px 15px;
    border: 1px solid #3363a3;
}
#mainnav .active {
    border-bottom: 1px solid white;
    font-weight: bold;
    background-color: white;
    color: #3363a3;
}
#mainnav .inactive { color: #fff; }
#mainnav .active:hover { color: #fff; background-color: #3363a3; }
#mainnav .inactive:hover { background-color: #3363a3; }

/* Context Navigation */
#ctxnav { padding: 2px; font-size: 65%; text-align: right; }
#ctxnav a { text-decoration: none; letter-spacing: 1px; }
#ctxnav .inactive { color: darkred; }
#ctxnav .active { font-weight: bold; background-color: lightgrey; }
#ctxnav .inactive:hover { background-color: grey; color: #fff; }
#ctxnav .active:hover  { background-color: grey; color: #fff; }
#ctxnav ul { list-style-type: none; margin: 0 5px 0 0;}
#ctxnav li { display: inline; margin-left: 5px; position: relative; padding: 3px; }

/* Alphabet search fieldset */
.user_search{ text-align: center; }
.user_search label, .user_search input { display: inline; padding: 0px; }
.user_search label, .user_search select, .user_search option { font-size: 12px; }
.user_search input {visibility: hidden; width: 0px; height: 0px; padding: 0px; margin: 0px; }
.user_search input + label { cursor: pointer; font-weight: bold; }
.user_search input + label:hover { color: orange; }
.user_search input:checked + label { color: red; }


/* Autocomplete */
div.autocomplete { text-align: center; }
div.autocomplete label { cursor: text; font-weight: bold; }
div.auto_complete {
    position:absolute;
    width: 600px;
    background-color:white;
    border:1px solid #888;
    margin:0px;
    padding:0px;
}
div.auto_complete ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}
div.auto_complete ul li.selected { background-color: #ffb;}
div.auto_complete ul li {
    list-style-type:none;
    display:block;
    margin:0;
    padding:2px;
    height:60px;
    cursor:pointer;
}
div.auto_complete li div.email { font-size:10px; }
div.auto_complete li div.uid { font-weight: bold; font-size: 12px; line-height: 1.2em; }
input.uidsearch { width: 300px; }


/* Edit user special cases */
input.quota { width: 50px; text-align: right; margin-right: 5px; }
span.quota { margin-top: 7px; font-style: italic; }
input.email { width: 250px; }

/* Domain Details */
/* User details shown on search */
#user_details label, #user_details span, #domain_info label, #domain_info span {
    display: block; float: left; margin-bottom: 5px; 
}
#user_details label, #domain_info label {
    text-align: right;
    width: 185px;
    padding-right: 15px;
    font-weight: bold;
    cursor: text;
}
#user_details br, #domain_info br { clear: left; }
#user_details button { padding-left: 5px; padding-right: 5px; }

span.forwarding_account_message {
    float: right;
    color: red;
    margin-right: 15px;
    font-weight: bold;
    font-style: italic;
}
