/*
 * vim: sw=4 ts=4 fenc=utf-8 et
 * $Id: main.css 19 2006-10-25 02:52:31Z s0undt3ch $
*/

h1 { font-size: 130%; text-align: center; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }
fieldset {
    border:1px solid #3363a3;
    padding: 3px 10px 15px 10px;
    margin: 5px 5px 0px 5px;
}
legend {
    padding: 0px 8px 0px 8px;
    margin: 5px 0px 4px 10px;
    font-size: 105%;
    color: #003885;
}
button { float: right; display: block; margin: 0px 0px -5px 10px; padding: 2px; }

#header {
    padding-left: 450px;
    background-image: url(/images/logo.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-color: #003885;
    height: 130px;
    color: white;
    text-align: right;
    position: relative;
}

#spinner { float: right; position: absolute; right: 5px; top: 5px; z-index: 333; }
#contents { margin: 2px; padding: 0px 10px 10px 10px; }

/* Forms with user input */
.user_input label, .user_input input, .user_input span {
    display: block; float: left; margin-bottom: 5px; margin-top: 5px;
}
.user_input label {
    text-align: right; width: 185px; padding-right: 15px; font-weight: bold; cursor: text; }
.user_input br { clear: left; }

/* Error Message shown on forms with invalid fields */
.error-message {
    margin-left: 10px;
    color: red;
    background-color: #ffffe1;
    padding: 2px;
    font-weight: bold;
    font-size: 90%;
}

/* Main Navigation */
#mainnav { bottom:0; right:10px; position: absolute; font-size: 80%; letter-spacing: 1px; color: #fff; }
#mainnav a { float: left; display: block; text-decoration: none; }
#mainnav ul { list-style-type: none; }
#mainnav li {
    float: left;
    display: block;
    margin: 0 0 0 5px;
    padding: 5px 15px 0px 15px;
    border: 1px solid #3363a3;
}
#mainnav .active {
    border-bottom: 1px solid white;
    font-weight: bold;
    background-color: white;
    color: #3363a3;
}
#mainnav .inactive { color: #fff; }
#mainnav .active:hover { color: #fff background-color: #3363a3; }
#mainnav .inactive:hover { background-color: #3363a3; }

/* Context Navigation */
#ctxnav { padding: 2px; font-size: 65%; text-align: right; }
#ctxnav a { text-decoration: none; letter-spacing: 1px; }
#ctxnav .inactive { color: darkred; }
#ctxnav .active { font-weight: bold; background-color: lightgrey; }
#ctxnav .inactive:hover { background-color: grey; color: #fff; }
#ctxnav .active:hover  { background-color: grey; color: #fff; }
#ctxnav ul { list-style-type: none; margin: 0 5px 0 0;}
#ctxnav li { display: inline; margin-left: 5px; position: relative; padding: 3px; }

/* Alphabet search fieldset */
.user_search label, .user_search input { display: inline; padding: 0px; }
.user_search fieldset { text-align: center; }
.user_search label, .user_search select, .user_search option { font-size: 12px; }
.user_search input {visibility: hidden; width: 0px; height: 0px; padding: 0px; margin: 0px; }
.user_search input + label { cursor: pointer; font-weight: bold; }
.user_search input + label:hover { color: orange; }
.user_search input:checked + label { color: red; }

/* Edit user special cases */
input.quota { width: 50px; text-align: right; margin-right: 5px; }
span.quota { margin-top: 7px; font-style: italic; }
input.email { width: 250px; }


/* User details shown on search */
#user_details label, #user_details span { display: block; float: left; margin-bottom: 5px; }
#user_details label {
    text-align: right;
    width: 185px;
    padding-right: 15px;
    font-weight: bold;
}
#user_details br { clear: left; }
#user_details button { width: 50px; }

